@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,800;1,400;1,800&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-brand-light: #ecdbff;
    --color-brand: #6602cc;
    --color-brand-dark: #2d005f;
}

html {
    min-height: 100%;
    max-height: 100%;
    height: 100%;
    overflow: hidden;
}

html,
body,
#__next {
    padding: 0;
    margin: 0;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    display: flex;
    align-items: stretch;
    flex: 1 0 100%;
    font-size: 14px;
    overflow: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
